.nav {
  height: 7rem;
}

.nav__container {
  height: inherit;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  border-bottom: 0.15rem solid var(--gray-blue);
}

.nav__logo {
  /* margin-right: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-right: auto;
  /* margin-left: auto; */
  align-self: stretch;
}

.nav__list li {
  display: flex;
  align-items: center;
}

.nav__link:hover {
  color: var(--dark-blue);
}

.nav__list li:has(.nav__link:hover) {
  border-bottom: 0.3rem solid var(--orange);
}

.nav__link {
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  font-weight: 500;
}

.nav__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.nav__btn {
  padding: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* styles for the side nav */

.sidenav {
  width: 30rem;
  transform: scaleX(0);
  transform-origin: 0 0;
  position: fixed;
  height: 100dvh;
  background-color: var(--white);
  z-index: 10000;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s transform;
  overflow: hidden;
}

.sidenav.active {
  transform: scaleX(1);
}

.sidenav {
  padding: 3rem;
}

.sidenav button {
  display: inline-block;
  margin-bottom: 5rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.sidenav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidenav ul li {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

@media (max-width: 780px) {
  .nav__list {
    display: none;
  }
}

@media (min-width: 680px) {
  .nav__btn {
    display: none;
  }
}
