.user {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  border: 0.2rem solid transparent;
  transition: 0.2s border;
}

.user:hover,
.user:active {
  border-color: var(--orange);
}

.user__image {
  width: 100%;
  height: 100%;
  display: block;
}
